.search-result-title {

    padding-left: 3%;
    color: var(--WHITE);


}

.row {


    padding-left: 3%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--DARK_BLACK);
    width: 97%;
    height: 150px;
    background-color: var(--DARK_BLACK);

}

.video-thumbnail {
    
    width: 30%;
    height: auto;
    margin-right: 10px;

}

.channel-thumbnail{
    
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}


.search-info {

    display: block;
    text-decoration: none;
    padding-left: 10px;
    margin-bottom: 0;
    min-width: 0;
    width: 100%;
    
}

.search-cinfo {

    padding-top: 10px;

}

.search-title {

    text-decoration: none;
    margin-bottom: 0;
   
    font-size: 20px;
    color: var(--PURPLE);

}

.search-title:hover {

    color: var(--GREEN);

}



.search-channel {
    text-decoration: none;
    margin-top: 10px;
    font-style: italic;

}

.duration {

    margin-right: 20px;

}

.nofound {


    color: var(--WHITE);
    font-size: 40px;
    text-align: center;
}