.topbar {

    display: flex;
    height: 70px;
    margin: 0;
    margin-top: 0px;
    max-width: 100%;
    background-color: var(--LIGHT_BLACK);
    border: 2px solid var(--PURPLE);
    border-radius: 10px;
    border-top: 0;
}

.navlink {

    display: flex;
    width: 400px;
}

.navlink a {

    color: var(--WHITE);
    border: 1px solid var(--DARK_GREY);
    float: left;
    white-space: nowrap;
    text-decoration: none;
    padding: 30px 10px;

}

.navlink a:hover {

    background-color: var(--DARK_GREY);


}

.spacer {

    width: 100%;

}

.searchbar {

    background-color: var(--DARK_GREY);
    padding: 20px 15px;
    display: flex;


}

.searchbar img {

    padding-right: 15px;

}