.vbox {

    

    text-decoration: none;
    background-color: var(--LIGHT_BLACK);
    
    display: block;
    
    border: 1px solid var(--GREEN);
    border-radius: 5px;

    height: auto;
    height: 250px;
    width:  24%;



    background-color: var(--LIGHT_BLACK);

}

.vbox:hover {

    border-color:  var(--PURPLE);

}

.vbox a {
    max-width: 100%;
    display: block;
    text-decoration: none;
    color: var(--w);   

}



.vbox .title {
    
    padding: 2% 5% 1% 10%;
    white-space: nowrap;
    min-height: 0;
    text-decoration: none;
    color: var(--WHITE);
}

.vbox .title :hover {

    color: var(--PURPLE);    
}

.vbox .channel {

    padding: .5% 5% 2% 10%;
   
    font-size: 12px;
    font-style: italic;
    min-height: 0;
    text-decoration: none;
    color: var(--WHITE);

}

.vbox .channel:hover {

    color: var(--PURPLE);

}


.vbox .thumbnail {

    width: 100%;
    height: 75%;
    
    min-height: 0;
    
}

.vbox .thumbnail img {
    width: 100%;
    height: 100%;
    min-height: 0;

}

