.vbox {

    

    text-decoration: none;
    background-color: var(--LIGHT_BLACK);
    
    display: block;
    
    border: 1px solid var(--GREEN);
    border-radius: 5px;

    max-height: 250px;
    width:  24.5%;


    gap: 10px;
    background-color: var(--LIGHT_BLACK);

}

.vbox:hover {

    border-color:  var(--PURPLE);

}

.vbox a {
    max-width: 100%;
    display: block;
    text-decoration: none;
   

}
.vbox .title {
    
    padding: 4% 5% 2% 10%;

    min-height: 0;
    text-decoration: none;
    color: inherit;
}

.vbox .channel {

    padding: 1px 5% 2% 5%;
   
    font-size: 12px;
    font-style: italic;
    min-height: 0;
    text-decoration: none;
    color: inherit;

}



.vbox .thumbnail {

    width: 90%;
    height: 75%;
    
    min-height: 0;
    
}

.vbox .thumbnail img {
    padding: 5px 5% 2px 10%;
    width: 90%;
    height: 100%;
    min-height: 0;

}

